# Docker Compose file for running paperless from the docker container registry.
# This file contains everything paperless needs to run.
# Paperless supports amd64, arm and arm64 hardware.
# All compose files of paperless configure paperless in the following way:
#
# - Paperless is (re)started on system boot, if it was running before shutdown.
# - Docker volumes for storing data are managed by Docker.
# - Folders for importing and exporting files are created in the same directory
#   as this file and mounted to the correct folders inside the container.
# - Paperless listens on port 8000.
#
# SQLite is used as the database. The SQLite file is stored in the data volume.
#
# In addition to that, this Docker Compose file adds the following optional
# configurations:
#
# - Apache Tika and Gotenberg servers are started with paperless and paperless
#   is configured to use these services. These provide support for consuming
#   Office documents (Word, Excel, PowerPoint and their LibreOffice counter-
#   parts).
#
# To install and update paperless with this file, do the following:
#
# - Copy this file as 'docker-compose.yml' and the files 'docker-compose.env'
#   and '.env' into a folder.
# - Run 'docker compose pull'.
# - Run 'docker compose up -d'.
#
# For more extensive installation and update instructions, refer to the
# documentation.
services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data

  webserver:
    container_name: paperless
    image: "{{ deploy_images.paperless.image }}:{{ deploy_images.paperless.tag | default('latest') }}"
    restart: unless-stopped
    depends_on:
      - broker
      - gotenberg
      - tika
    ports:
      - "8000:8000"
    networks:
      - default
      - proxy
    volumes:
      - data:/usr/src/paperless/data
      - media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: .env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.7
    restart: unless-stopped
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:latest
    restart: unless-stopped

{% if sftp_scanner.enabled %}
  {{ sftp_scanner.name }}:
    image: lscr.io/linuxserver/openssh-server:latest
    hostname: {{ sftp_scanner.hostname }}
    restart: unless-stopped
    environment: 
      PUID: "{{ sftp_scanner.puid }}"
      PGID: "{{ sftp_scanner.pgid }}"
      TZ: "{{ sftp_scanner.tz }}"
      SUDO_ACCESS: "false"
      PASSWORD_ACCESS: "false"
      USER_NAME: "{{ sftp_scanner.user }}"
      LOG_STDOUT: "false"
      PUBLIC_KEY: "{{ sftp_scanner.public_key }}"
    volumes:
      - "{{ sftp_scanner.root }}/config:/config"
      - "{{ paperless.root }}/consume:/config/consume:rw"
    ports:
      - "{{ sftp_scanner.port_host }}:{{ sftp_scanner.port_container }}"
{% endif %}

volumes:
  data:
  media:
  redisdata:

networks:
  proxy:
    external: true