services:
  gitea:
    container_name: gitea
    image: "{{ deploy_images.gitea.image }}:{{ deploy_images.gitea.tag | default('latest-rootless') }}"
    restart: always
    user: "{{ gitea.uid }}:{{ gitea.gid }}"
    volumes:
      - {{ gitea.root }}/data:/var/lib/gitea
      - {{ gitea.root }}/config:/etc/gitea
      - {{ gitea.root }}/backup:/tmp
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ gitea.http_port }}:3000"
      - "{{ gitea.ssh_port }}:2222"
    networks:
      - default
      - proxy

networks:
  proxy:
    external: true