[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key }}

#PostUp = \
#  iptables -A FORWARD -i eth0 -o wg0 -p tcp --dport 2222 -j ACCEPT; \
#  iptables -A FORWARD -i wg0 -o eth0 -p tcp --sport 2222 -j ACCEPT; \
#  iptables -t nat -A PREROUTING -i eth0 -p tcp --dport 2222 -j DNAT --to-destination 10.42.0.2:2222; \
#  iptables -t nat -A POSTROUTING -o wg0 -p tcp --dport 2222 -j MASQUERADE
#
#PostDown = \
#  iptables -D FORWARD -i eth0 -o wg0 -p tcp --dport 2222 -j ACCEPT; \
#  iptables -D FORWARD -i wg0 -o eth0 -p tcp --sport 2222 -j ACCEPT; \
#  iptables -t nat -D PREROUTING -i eth0 -p tcp --dport 2222 -j DNAT --to-destination 10.42.0.2:2222; \
#  iptables -t nat -D POSTROUTING -o wg0 -p tcp --dport 2222 -j MASQUERADE

{% for host in groups['homelab'] | sort %}
[Peer]
# {{ host }}
PublicKey = {{ hostvars[host].wireguard_public_key }}
AllowedIPs = {{ ([
  (hostvars[host].wireguard_address | regex_replace('/.*', '/32'))
] + (hostvars[host].wireguard_extra_allowed_ips | default([]))) | join(", ") }}
{% if wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
{% endif %}

{% endfor %}
